        /* Add some custom styles if needed */
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
           /* background-image: linear-gradient(#EDE2CD, #eae1cf);*/
        }

        .position-relative {
            width: 100%;
            top: 0;
            z-index: 1070;
        }

        #landing_page .main-section {
            color: #725A2C;
            font-size: 1.1em;
            line-height: 1.7;
            padding:33px;
        }

        li.nav-item{
            margin-right: 1.5em;
        }

        li.nav-item a {
            color: #635A2C !important;
            font-size: 1.1em;
            font-weight: 500;
            font-family: 'Montserrat';
            border-bottom: 2px solid rgb(237, 180, 30) !important;
           
        }
        @media (max-width: 767px) {     
            #landing_page .main-section  {
                padding-top:15px  !important;
            }
            .section-details.py-5{
                padding-top: 1em !important;

            }
            #hero_im{
                width:52% !important;
    
            }
            li.nav-item a {
                color: #635A2C !important;
                font-size: 1.1em;
                font-weight: 500;
                font-family: 'Montserrat';
                border-bottom: 2px !important;
             
            }
        }
        
        #landing_page .section-details img {
             width: 100%; 
             margin-top:50px;
        }
        @media (max-width: 767px) {     
            #landing_page .section-details img {
            margin-top: 0px !important;
            }
        }
        #landing_page .page-title
        {  
          border-bottom: 2px solid rgb(237, 180, 30) !important;
          width: fit-content;
          font-weight: 600;
          font-size:  1.6em;
        }
        #landing_page .sub-title
        {  
          color:#635A2C;
          font-family: 'Montserrat', sans-serif;
        }

        .sub-title{
            font-weight: 600;
        }

        @media (max-width: 767px) {
            .skills-column{
                padding: 20px !important;
            }
        }
        
        /* Add more custom styles as needed */
        /* Reduce the width of the navbar and content to 80% */
        .navbar {
            /* Change navbar color to light */
            margin: 0 auto;
            /*background: #FFAA01;*/
             /*background: #FFAA01; #ddc597 */
            background: #EDE2CD;
            background-image: linear-gradient(to bottom , #EDE2CD, #ecdec5);
        }

        .container {
            width: 70%;
            margin: 0 auto;
        }

        /* Align navbar items to the center */
        .navbar-nav {
            text-align: center;
            width: 100%;
        }
        #navbarTogglerDemo01{
            flex-basis: fit-content;
            flex-grow: 0;
            /*background:rgb(211, 173, 76) ;*/

        }

        .secondary{
            background-color: #fff;
            background-image: none;
            
        }
        #navbarTogglerDemo01  li a{
            font-size:.9em;

        }

        .title-border-project {
            padding: 0px !important;
            border-bottom: 2px solid rgb(237, 180, 30) !important;
            margin-top: 15px !important;
            margin-bottom: 15px !important;
            font-family: 'Montserrat', sans-serif;
        }

        .column-details {
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem !important;
        }

        .section-details {
            margin-bottom: 40px;
            border: 1px solid #EDE2CD;
        }
        @media (max-width: 767px) {
        /* Your CSS styles for smaller screens go here */
            .section-details {
                margin-bottom: 20px;
                width:90% !important
            }
            .project-title {
                margin-top: 1px !important;
            }
        }

        .section-title {
            font-size: 18px;
        }

        .section-details img {
            width: 71%;
        }

        h2#section-title {
            font-size: x-large;
        }

        .post-title {
            font-size: medium;
            font-weight: 500;
            padding-top: 30px;
            color: #635A2C!important;
        }

        .project-title {
            margin-top: 20px;
            font-size: 1.5rem;
            color: #635A2C !important;
        }



        #hero1 {
            height: 300px;
            
        }

        #hero_im{
            width:22%;

        }
        /* Styles for screens smaller than tablets (less than 768px) */
        @media (max-width: 767px) {
        /* Your CSS styles for smaller screens go here */
        #hero1 {
            height: 50px;  
        }

        .container-fluid.mobile-hero {
            --bs-gutter-x: 0 !important;
         }
        }

        .portfolio-navbar,
        #hero1 {
            padding: 0px !important;
        }

       /* #section2,
        #section4,
        #section6 {
            background: #F3F3F3;
        }*/
        col-md-4.column-first {
            margin-right: 30px;
            border: 1px solid saddlebrown;
        }

        .column-first img,
        .column-second img {
            width: 100%;
        }

        .item{
             height:500px;
        }

        .item img {
            width: 100%;
            height: 100% !important;
            object-fit: cover;
        }

        /* Styles for screens smaller than tablets (less than 768px) */
        @media (max-width: 767px) {
        /* Your CSS styles for smaller screens go here */
            .hero{
                width:100% !important;

            }
        }
        @media (min-width: 1024px) {
        div#navbarNav {
            margin-left: auto;
            order: 2;
            flex-basis: fit-content;
            flex-grow: 0;
        }
    }

        .portfolio-item {
            margin-bottom: 30px;
          }
          
          .portfolio-item img {
            width: 100%;
            max-height: 164px !important;
          }
          
          .portfolio-item .card-title {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
            color: #725A2C;
          }

          .portfolio-item  a {
            color:#725A2C;
            text-decoration: none;
            background-color: transparent;
             }
          
          .portfolio-item .card-subtitle {
            color: #888;
            font-style: italic;
            margin-bottom: 20px;
          }
      
          .portfolio-item .card-body {
            background: #F1EFE5;
          }

          .portfolio-item .card-text {
            background: #F1EFE5;
            color: #725A2C;
          }

          .page-title {
            margin-bottom: 20px;
            color:#635A2C;
            font-family: 'Montserrat', sans-serif;
          }