        /* Add some custom styles if needed */
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* 100% viewport height */
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }  
        .content-wrapper {
            flex: 1; /* Allows content to expand and push the footer down */
        }

        @media (max-width: 768px) {  
            .project-details {
                position: absolute;
                width: 50%;
                margin-left: 20%;
                width: 60%;
                margin-right: auto;
            }
            .project-title
            {
                font-size: 1.34em;
            }
            .h3.title-border-project.post-sub-title {
                font-size: 1.2em;
            }
            img.hero{
                display:none;

            }
       
        }
        @media (max-width: 768px) {
            .project-tab-col .flex-column {
                flex-direction: row !important;
            }
        }

        .project-tab-col{
            padding-top:20px;
        }

        #landing_page .section-details{
            padding-top:0px !important ;
        }
 
        .section-details ,.section-details-tab{
            padding-top:20px;
        }
 
        .section-details-tab .nav-pills ,.section-details-tab .nav-link {
            border-radius: 0rem !important ;
        }

        #project-details-section .nav-tabs {
            margin-bottom: 20px;
            flex-wrap: nowrap; /* Ensure tabs don't wrap to the next line */
            border-bottom:0px !important;
        }
        #project-details-section .nav-item {
            margin-bottom: 0; /* Remove bottom margin for better alignment */
        }

        #project-details-section .nav-link {
            padding: 10px 15px; /* Adjust padding for better visual appearance */
             /* Set the desired text color */
 
        }
   
        #project-details-section a.nav-link ,#hand-sketches  a.nav-link{
            color: #635A2C!important;
            text-decoration: none;
            background-color: transparent;
        }
        #linkContainer {
            margin-top: 20px; /* Adjust the margin to create space between the logo and the hyperlink image */
          }

        #linkImage {
            width: 100px; /* Adjust the width of your hyperlink image */
            height: auto; /* Maintain aspect ratio */
          }

        #project_details img.hero  {
                width: 100% !important;
        }
        .w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
            color: #000!important;
            background-color: #f1f1f1!important;
        }
        
        .w3-padding-large {
            padding: 12px 24px!important;
        }
        .w3-margin-top {
            margin-top: 16px!important;
            margin-bottom: 34px !important;
        }

        .w3-btn, .w3-button {
            border: none;
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
        }

        .portfolio-button{
            background-color: #D7C378 !important;
            width:200px;
            color : #fff !important;
            transition: opacity 0.3s ease-in-out 0s;
        }

        .position-relative {
            width: 100%;
            top: 0;
            z-index: 1070;
        }

        #landing_page .main-section {
            color: #725A2C;
            font-size: 1.1em;
            line-height: 1.7;
            padding:5px 33px;
        }
        
        .carousel{
            padding-left:0px !important;
            padding-right:0px !important;
            padding-top: 0em !important;
            border:0px !important;
        }

        .no-border{
            border:0px !important;
        }
        .hero-image img.hero{
            width: 100% !important

        }

        .hero-image{
            padding: 0px !important;
        

        }
        
        #artist .project-title{
            text-align: center;
            
        }
        #artist .section-details {
            border:0px !important
        }

        img.card-image-featured{
            width:90% !important

        }
     
        section#portfolio {
            border: 0px !important;
        }
        .carousel-item img , .hero img{
            max-height:400px
        }
     

        li.nav-item{
            margin-right: 1.5em;
        }
        .section-details-tab  li.nav-item{ 
            margin-right: 0em;

        }

        li.nav-item a {
            color: ae9536c7 !important;
            font-size: 1.1em;
            font-weight: 500;
            font-family: 'Montserrat';
           
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link ,.nav-item>.nav-link.active {
            background-color:   rgb(237, 180, 30) !important; 
        }

   
  
        a.no-change-color.nav-pills a.nav-link.active,
       a.no-change-color.nav-pills a.nav-link:hover,
        a.no-change-color.nav-pills a.nav-link:focus {
            background-color: transparent !important; /* Set background color to transparent for active, hover, and focus states */
        }

        @media (max-width: 767px) {  
            .carousel{
                width:100% !important;
            }

            .carousel-item img{
                max-height:190px
            }

            #landing_page .main-section  {
                padding-top:15px  !important;
            }
            .section-details.py-5{
                padding-top: 1em !important;

            }
            #hero_im{
                width:52% !important;
    
            }
            li.nav-item a {
                color: #635A2C !important;
                font-size: 1.1em;
                font-weight: 500;
                font-family: 'Montserrat';
                border-bottom: 2px !important;
             
            }
        }
        
        #landing_page .section-details img {
             width: 100%; 
        }

        .one .floor-plan .dp-images{
            max-width: 100%  !important; 
        }
        @media (max-width: 767px) {     
            #landing_page .section-details img {
            margin-top: 0px !important;
            }
            .project-title {     
                font-size: 1.4em !important;
            }
            .post-title {     
                font-size: 1.3em !important;
            }
        }
        #landing_page .page-title , #contact_page .page-title
        {  
          width: fit-content;
          font-weight: 600;
          font-size:  1.6em;
        }
        #landing_page .sub-title
        {  
          color:#635A2C;
          font-family: 'Montserrat', sans-serif;
        }

        .sub-title{
            font-weight: 600;
        }

        @media (max-width: 767px) {
            .skills-column{
                padding: 20px !important;
            }
        }
        
        /* Add more custom styles as needed */
        /* Reduce the width of the navbar and content to 80% */
        .navbar {
            margin: 0 auto;
            background: #f7f7f7;
        }

        .hero_container{
            width: 100%;
            margin: 0 auto;

        }
        /* Align navbar items to the center */
        .navbar-nav {
            text-align: center;
            width: 100%;
        }

        .secondary{
            background-color: #fff;
            background-image: none;
            
        }
        #navbarTogglerDemo01  li a{
            font-size:.9em;

        }
        img.hero {
            width: 70% !important;
        }

        .title-border-project {
            padding: 0px !important;
            border-bottom: 2px solid rgb(237, 180, 30) !important;
            margin-top: 15px !important;
            margin-bottom: 15px !important;
            font-family: 'Montserrat', sans-serif;
        }

        .bordered-text {
            border-bottom:  2px solid rgb(237, 180, 30)/* Adjust the thickness and color as needed */
        }

        .column-details {
            font-size: 1.1em !important;
            color: #725A2C;
            line-height: 1.7;

        }

        div#project-details-section {
            border: 1px solid #EDE2CD;
        }
        @media (max-width: 767px) {
        /* Your CSS styles for smaller screens go here */
            .section-details {
                margin-bottom: 20px;
            }
            .project-title {
                margin-top: 1px !important;
            }
        }

        .section-title {
            font-size: 18px;
        }

        .section-details img {
            width: 71%;
        }

        .figure img {
            width: 100%;
        }

        .floorplan img {
            width: 50%;
        }

        h2#section-title {
            font-size: x-large;
        }

        .post-title {
            font-size: medium;
            font-weight: 500;
            padding-top: 30px;
            color: #635A2C!important;
        }

        .project-title {
            margin-top: 10px;
            font-size: 1.6em;
            color: #635A2C !important;
            font-weight: 700;
        }



        #hero1 {
            height: 300px;
            
        }

        #hero_im{
            width:22%;

        }
        /* Styles for screens smaller than tablets (less than 768px) */
        @media (max-width: 767px) {
        /* Your CSS styles for smaller screens go here */
        #hero1 {
            height: 50px;  
        }

        .container-fluid.mobile-hero {
            --bs-gutter-x: 0 !important;
         }
        }

        .portfolio-navbar,
        #hero1 {
            padding: 0px !important;
        }

       /* #section2,
        #section4,
        #section6 {
            background: #F3F3F3;
        }*/
        col-md-4.column-first {
            margin-right: 30px;
            border: 1px solid saddlebrown;
        }

        .column-first img,
        .column-second img {
            width: 100%;
        }

        .item{
             height:500px;
        }

        .item img {
            width: 100%;
            height: 100% !important;
            object-fit: cover;
        }

        /* Styles for screens smaller than tablets (less than 768px) */
        @media (max-width: 767px) {
        /* Your CSS styles for smaller screens go here */
            .hero{
                width:100% !important;

            }
        }
        @media (min-width: 1024px) {
        div#navbarNav {
            margin-left: auto;
            order: 2;
            flex-basis: fit-content;
            flex-grow: 0;
        }
    }

        .portfolio-item {
            margin-bottom: 30px;
          }
          
          .portfolio-item img {
            width: 100%;
            max-height: 164px !important;
          }
          
          .portfolio-item .card-title {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
            color: #725A2C;
          }

          .portfolio-item  a {
            color:#725A2C;
            text-decoration: none;
            background-color: transparent;
             }
          
          .portfolio-item .card-subtitle {
            color: #888;
            font-style: italic;
            margin-bottom: 20px;
          }
      
          .portfolio-item .card-body {
            background: #F1EFE5;
          }

          .portfolio-item .card-text {
            background: #F1EFE5;
            color: #725A2C;
          }

          .page-title {
            margin-bottom: 20px;
            color:#635A2C !important;
            font-weight: 600;
          }

          .sidebar-section{
            padding-left:0px;
          }

          #project_details  .post-title {
            width: fit-content;
            font-weight: 600;
            font-size: 1.6em;
            padding-top:10px !important;
        }

        
        h3.title-border-project.post-sub-title {
            font-size: 1.2em;
        }


        .text-muted {
            color: #6c757d!important;
        }
        footer {
            padding-top: 3rem;
            padding-bottom: 3rem;
            background: #F5F1EB !important;
            
        }
        .footer p{
                margin-bottom: 3px !important;
                margin-top: 3px !important;
                color: #947400 !important;
        }

        section-details::-webkit-scrollbar{
            display: none;
          }
          .featurette-divider {
            margin: 5rem 0;
        }

        #jumbotron .featurette-divider {
            margin: 2rem 0;
        }
        .jumbotron{
            background-color: #fdfdfd;
            color:#707070
            
        }
        .jumbotron h1 {
          color :  #ae9536c7;
        }

        .jumbotron .text-muted {
            color: #707070 !important;
        }

        #jumbotron.container {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .breadcrumb {
            background-color: transparent;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-bottom: 1.5rem;
            padding: 0;
        }
        .mb-0 {
            margin-bottom: 0!important;
        }
        .py-5 {
            padding-bottom: 1.25rem!important;
            padding-top: 1.25rem!important;
        }

        a.text-beige-400{
          color :  rgb(237, 180, 30) !important
        }

        .section-divider {
            text-align: center;
            margin: 30px 0;
          }
      
          .section-title-container {
            display: flex;
            align-items: center;
            justify-content: center;
          }
      
          .section-title {
            background-color: #fff;
            padding: 0 10px;
            color:#635A2C !important;
            font-size: 1.6em;
            font-family: 'Montserrat', sans-serif;
          }
      
          .divider-line {
            flex-grow: 1;
            height: 1px;
            background-color:  rgba(0,0,0,.1);
            margin: 0 10px;
          }
      
          /* Featurettes */
          .featurette-divider {
            margin: 2rem 0; /* Space out the Bootstrap <hr> more */
          }
      
          /* Thin out the marketing headings */
          .featurette-heading {
            font-weight: 300;
            line-height: 1;
            letter-spacing: -.05rem;
            color: #ae9536c7;
            font-family: ui-serif;
          }

          .btn-outline-white {
            border-color: #fff;
            color: #fff
        }

        .btn {
            height: calc(3.25rem + 2px);
            white-space: nowrap;
        }

        .text-reset {
            --bs-text-opacity: 1;
            color: #635A2C !important;
        }
        .btn-link {
            font-weight: 400;
            text-decoration: none;
        }
        .stretched-link:after {
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
        .ms-2 {
            margin-left: .5rem!important;
        }

        .lead{
            font-family: Arial, sans-serif  !important;
            color: #6c757d !important;
        }
        .carousel-item {
            transition-duration: 1s; /* Change the duration as needed */
        }
/* Style for making nav-pills slideable on mobile devices */

@media (max-width: 768px) {
    .project-tab-col {
       padding-top: 0px !important; 
    }

    #hand-sketches li.nav-item {
        margin-right: 1em;
    }

    .nav-pills.flex-column {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1; /* Prevents the container from shrinking */
        -webkit-overflow-scrolling: touch; /* for smooth scrolling on touch devices */
    }

    .nav-pills.flex-column .nav-item {
        display: inline-block; /* Display nav-items inline */
        flex: none; /* Prevent flex items from growing or shrinking */
        min-width: 80px; /* Example minimum width, adjust as needed */
        padding: 5px; /* Example padding, adjust as needed */
      }

      #navbarTogglerDemo01 {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;
    }
    
    #navbarTogglerDemo01::-webkit-scrollbar {
        display: none;
    }

  }


  
    .hand-sketches img {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Shadow effect */
    }
    
    @media (min-width: 768px) {
        #imageModal .modal-content img {
            width: 100%; /* Scale the image to cover the modal width */
            height: auto; /* Maintain aspect ratio */
        }

        .section-details.material img{
            width:100%;
        }
    }
    
    .modal-cl{
        max-width:80vw !important;
    }

    .dp-images{
        max-width: 40%;
    }
    .floor-plan{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:50px;
    }
    .floor-plan::last{
        justify-content: space-between;

    }

    @media (min-width: 768px) {
        .dp-images .figure-caption {
            font-size: 118%;
        }
        #project_details .carousel-item{
            height: 500px; /* Set a fixed height for the image wrapper */
            width: 100%; /* Full width to cover the carousel item */
            overflow: hidden; /* Hide the overflow to maintain the fixed height */
          }
    }
   

      
      .carousel-item img {
        height: 100%; /* Set the image to the full height of the wrapper */
        object-fit: cover; /* Cover the wrapper area without stretching */
        object-position: center; /* Center the image within the wrapper */
      }
      

      .carousel-caption {
        position: static; /* Override default positioning */
        padding-top: 4px; /* Provide some space between the image and the caption */
        color: #635A2C !important; /* Optional: Change text color */
      }

      @media (max-width: 576px) { /* Adjust for mobile screens */
        #imageModal .modal-dialog {
          max-width: 90% !important; /* Makes the modal wider on small screens, adjust as needed */
        }
      }
      
 